{% import '@Theme/macro/form.html' as Form %}

<form method="post" action="{{ url('/kb/add') }}" class="ajax_post" data-callback-start="markdownStart">
	{% if edit %}
	<div><input type="hidden" name="id" value="{{ edit.id }}"></div>
	{% endif %}
	{% if edit is not null %}
	{{ Form.select({
		title: 'Category',
		name: 'category',
		options: categoryOptions
	}) }}
	{% endif %}

	{{ Form.text('title', 'Title', edit.title) }}
	<div id="markdown-editor">
		<textarea name="val[content]">{{ edit.content_original }}</textarea>
	</div>
	{{ Form.submit('Post') }}
</form>